pytorch
numpy>=1.26.4
pysr
matplotlib

scikit_learn
scipy>=1.13
Requests
pandas>=2.2
tqdm

keras
jax==0.8.0
tensorflow
seaborn
choix
cma==4.4.0
catboost==1.2.3
lightgbm
xgboost==2.0.3
optuna
einops
category_encoders

qhoptim
annoy

#delu==0.0.23








